<div class="panel panel-default">
    <div class="panel-heading clearfix">
        <h4></h4> <br><!--contact.name-->

        <div class="row">
            <div class="col-md-8">
            <!--<div class="pull-left">-->
                <img 
                    src="" 
                    alt="" 
                    class="img-responsive" 
                    style="max-height:50px">
            </div>
            <div class="col-md-4 btn-toolbar">
            <!--<div class="pull-right btn-toolbar">-->
                <a href="#" class="btn btn-danger pull-right">Delete</a>
                <a href="#" class="btn btn-primary pull-right">Edit</a>
            </div>
        </div>
        <!--header title MUST go after the a tag or they will line up weird-->
    </div>

    <div class="panel-body">
        <p><strong>Email: </strong></p>
        <p><strong>Phone: </strong></p>
    </div>
</div>