<label>Server Name</label>
<!--<input
    type="text"
    class="form-control"
    (input)="onUpdateServerName($event)">-->
<input
    type="text"
    class="form-control"
    [(ngModel)]="serverName">
<!--<p>{{ serverName }}</p>-->
<button
    class="btn btn-primary"
    [disabled]="!allowNewServer"
    (click)="onCreateServer()">Add Server</button>
<!--<p [innerText]="allowNewServer"></p>-->
<!--<p>{{ serverCreationStatus }}</p>-->
<p *ngIf="serverCreated">Server was created, server name is {{ serverName }}</p>
<app-server *ngFor="let server of servers"></app-server>

<hr>
<h2>Assignment 3</h2>
<button
    class="btn btn-primary"
    (click)="onDisplayDetails()">Toggle Display</button>
    <!--(click)="showSecret = !showSecret">Toggle Display</button>-->
<p *ngIf="showSecret">Secret Paragraph. Shhhh! Don't tell anyone!</p>
<p *ngFor="let logItem of log; let i = index"
    [ngStyle]="{backgroundColor: i >= 4 ? 'blue' : 'transparent'}"
    [ngClass]="{'white-text': i >= 4}"> {{ logItem }} </p>

<hr>
<h2>Assignment 2</h2>
<label>Username:</label>
<input
    type="text"
    class="form-control"
    [(ngModel)]="username">
<p>{{ username }}</p>
<button
    class="btn btn-primary"
    [disabled]="username === ''"
    (click)="username = ''">Clear username</button>